---
layout: default
---

<section id="home">
  {% include header.html %}
  <!-- <video autoplay poster="images/night.jpg" id="bgvid" loop>
    <source src="images/video.mp4" type="video/mp4">
  </video> -->

  <div class="row rel">
    <div class="text">
      <div class="col-sm-12 col-lg-12">
        <h1 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">Hi,I am Paras</h1>
      </div>
    </div>
  </div>
  <div class="mouse">
    <!-- <a href="#profile"></a> -->
    <i class="fa fa-circle wow slideInDown" data-wow-duration="1s" data-wow-iteration = "1000"></i>
  </div>
</section>

{% include profile.html %}
{% include skill.html %}
{% include project.html %}
