---
layout: default
---

{% include header.html %}
<section id="home">
  <div class="js-count-particles"></div>
  <!-- particles.js container --> 
  <div id="particles-js"></div> 
    <div class ="move-up-name">
      <h1 class="wow type-it fadeIn" data-wow-duration="5s" data-wow-delay="0.5s">Hello, I'm Paras.</h1>  
      <h3 class="wow fadeIn" data-wow-duration="3s" data-wow-delay="1.5s"><i class="fa fa-heart"></i> Full stack web developer</h3>
    </div>
    <div id = "scroll-down">
     <a href="#profile"><i class="wow bounce fa fa-angle-double-down fa-4x" data-wow-duration="3.5s" data-wow-delay="0.5s" data-wow-iteration="100"></i></a>
    </div>        
  </div>
</section>

{% include profile.html %}
{% include skill.html %}
{% include project.html %}
{% include contact.html %}
