<section id="profile">
  <div class="container">
    <div class="row">
      <h2 class="wow bounceIn" data-wow-duration="2s" data-wow-delay="0.5s">Profile</h2>
      <hr class="wow rubberBand" data-wow-duration="1s" data-wow-iteration="10"> 
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6">
        <h4>I am a passionate full-stack web developer who has built  many beautiful and responsive web apps along with learning various programming languages. I'm excited to put these skills and experience to use at your company.</h4>
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-4">
        <figure class="snip1344"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample1.jpg" alt="profile-sample1" class="background"/><img src="images/me.jpg" alt="profile-sample1" class="profile"/>
          <figcaption>
            <h3>Paras Arora<span>Full Stack Developer</span></h3>
            <div class="icons">
              <a target="_blank" href="https://github.com/parasaro92">
              <i class="fa fa-github"></i>
              </a>
              <a target="_blank" href="https://in.linkedin.com/in/parasaro92">
              <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>