<section id="profile">
  <div class="container">
    <div class="row">
      <h2 class="wow bounceIn" data-wow-duration="8s" data-wow-delay="1.0s">Profile</h2>
      <hr class="wow rubberBand" data-wow-duration="6s" data-wow-iteration="3"> 
    </div>
    <div class="row">
      <div class="col-xs-6 pull-left">
        <p>I am a passionate Frontend Developer<br /> who has built  many beautiful and responsive <br /> web apps along with learning various programming languages.<br /> I'm excited to put these skills and experience to use at your company.</p>
      </div>
      <div class="col-xs-6">
        <!-- <div class="row"> -->
        <!-- <figure class="snip1344"> --><img src="images/me.jpg" alt="profile" class="profile img-circle"/>
        <!-- </div> -->
          <!-- <figcaption> -->
            
           <!--  <div class="icons">
              <a target="_blank" href="https://github.com/parasaro92">
              <i class="fa fa-github"></i>
              </a>
              <a target="_blank" href="https://in.linkedin.com/in/parasaro92">
              <i class="fa fa-linkedin"></i>
              </a>
            </div> -->
          <!-- </figcaption> -->
        <!-- </figure> -->
      </div>

    </div>
  </div>
</section>