<section id="profile">
  <div class="container">
    <div class="row">
      <h2 class="wow bounceIn" data-wow-duration="2s" data-wow-delay="0.5s">Profile</h2>
      <hr class="wow rubberBand" data-wow-duration="1s" data-wow-iteration="10"> 
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>I am a full stack web developer.  I have built multiple products till date along with learning various technologies at CodeAstra. I love to make websites which can be made to look so beautiful by using front-end tools and also adding interactivity using JavaScript.</p>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
  </div>
</section>