<section id="skills">
  <div class="container">
    <div class="row">
      <h2 class="wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.5s">Skills</h2>
      <hr class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
    </div>
    <div class="row">
      <div class="col-xs-2">
        <h5 class="left">HTML</h5>
      </div> 
      <div class="col-xs-2">
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 90%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
      <div class="col-xs-2 right">
        <h5>CSS</h5>
      </div>
      <div class="col-xs-2">
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 90%">
            <!-- <span class="sr-only"></span> -->
          </div>
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col-xs-2">
        <h5 class="left">JavaScript</h5>
      </div> 
      <div class="col-xs-2">
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 75%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>  
      <div class="col-xs-2 right">
        <h5>Ruby</h5>
      </div>
      <div class="col-xs-2">
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 70%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>  
    </div> 
    <div class="row">
      <div class="col-xs-2">
        <h5 class="left">Ruby on Rails</h5>
      </div> 
      <div class="col-xs-2">
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 80%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div> 
      <div class="col-xs-2 right">
        <h5>AngularJS</h5>
      </div>
      <div class="col-xs-2">
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 70%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>  
    </div> 
    <div class="row">
      <div class="col-xs-2">
        <h5 class="left">jQuery</h5>
      </div> 
      <div class="col-xs-2">
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 85%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>  
      <div class="col-xs-2 right">
        <h5>SQL</h5>
      </div>
      <div class="col-xs-2">
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 70%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>  
    </div> 
  </div>  
</section>