<section id="skills">
  <div class="container">
    <div class="row">
      <h2 class="wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.5s">Skills</h2>
      <hr class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>Html</h4>
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 85%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div> 
      <div class="col-sm-6">
        <h4>CSS3</h4>
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 85%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col-sm-6">
        <h4 class="s">Javascript</h4>
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 85%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div> 
      <div class="col-sm-6">
        <h4>Ruby</h4>
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 85%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-sm-6">
        <h4 class="s">J-query</h4>
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 85%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div> 
      <div class="col-sm-6">
        <h4>Sql</h4>
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 85%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-sm-6">
        <h4>Html</h4>
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 85%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div> 
      <div class="col-sm-6">
        <h4>CSS3</h4>
        <div class="progress wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" style="width: 85%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
    </div> 
  </div>  
</section>