#contact {  
  background-color: #ECECEA;

  hr {
    width: 7%;
    height: 2px;
    background-color: #00FFFF;
    margin-bottom: 39px;
    margin-top: -7px;
  }

  .social-icons {
    font-size: 3vmin;
    margin-top: 2em;
    text-align: center;
    margin-left: -1em;
  }

  .first-box{
    padding: 25px;
    background: #9C0;
    // min-height: 40vh;
  }

  .second-box{
    padding: 25px;
    background: #39F;
    // min-height: 40vh;
  }

  .third-box{
    padding: 25px;
    background: #F66;
    // min-height: 40vh;
  }

  .fourth-box{
    padding: 25px;
    background: #6CC;
    overflow: hidden;
    // min-height: 40vh;
  }

  .bottom-social-icons {
    margin-top: 3em;
    text-align: right;

    a {
      &, &:hover {
        color: #333;
      }
    }
  }

  @media screen and (min-device-width : 320px) and (max-device-width : 769px) {

    .first-box{
      padding: 25px;
      background: #9C0;
      min-height: 0vh;
    }

    .second-box{
      padding: 25px;
      background: #39F;
      min-height: 0vh;
    }

    .third-box{
      padding: 25px;
      background: #F66;
      min-height: 0vh;
    }

    .fourth-box{
      padding: 25px;
      background: #6CC;
      overflow: hidden;
      min-height: 0vh;
    }
  }
}