#profile {
  background-color: #2ecc71;
  height: 28em;

  h2 {
    color: #000;
    text-align: center;
    margin-bottom: 2em;
  }

  hr {
    margin-top: -3em;
    border-width: 4px;
    margin-bottom: 37px;
    width: 22%;
    // transform: translateX(-6%);
    border-color: #c8d9e5;
  }
}