#skills {
  background-color: #EEFCFF;
  min-height: 70vh;
  
  h2 {
    text-align: center;
  }
  .progress {
    margin-top: 1em;
    width: 16em;
    height: 14px;
    margin-left: -1em;
  }  

  .h4 {
    margin-left: -2em;
  }

  hr {
    width: 14%;
    height: 2px;
    background-color: #00FFFF;
    margin-bottom: 21px;
  }

  .row {
    margin-top: 12px;
  }
}
