$main_font: 'Raleway', sans-serif;;
$footer-color-one: #ECECEA;
$footer-color-two: #E0E0E0;
$footer-color-three: #b0b0b0;
$footer-span-color: #6D4C41;
$footer-social-color: #6D4C41;
$footer-linked-color: #55ACEE;
